name: Validate

on:
  push: {}
  pull_request: {}

jobs:
  publish:
    name: Test & Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.0'
      - name: Test
        run: |
          make test
      - name: Build
        run: |
          make build